In [1]:
import wget

In [2]:
wget.download('http://datafountain.int-yt.com/Files/BDCI2020/474BeiKe/sample_submission.tsv')
wget.download('http://datafountain.int-yt.com/Files/BDCI2020/474BeiKe/test.zip')
wget.download('http://datafountain.int-yt.com/Files/BDCI2020/474BeiKe/train.zip')

'train.zip'

In [3]:
!unzip train.zip
!unzip test.zip

Archive:  train.zip
   creating: train/
  inflating: train/train.query.tsv
  inflating: train/train.reply.tsv
Archive:  test.zip
   creating: test/
  inflating: test/test.query.tsv
  inflating: test/test.reply.tsv

In [4]:
!rm train.zip
!rm test.zip

In [1]:
import pandas as pd

In [2]:
train_q = pd.read_csv('train/train.query.tsv', sep='\t',
                      header=None, names=['query_id', 'query'])
train_q.head()

   query_id               query
0         0            采荷一小是分校吧
1         1                毛坯吗？
2         2  你们的佣金费大约是多少和契税是多少。
3         3             靠近川沙路嘛？
4         4      这套房源价格还有优惠空间吗？

In [3]:
train_q.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6000 entries, 0 to 5999
Data columns (total 2 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   query_id  6000 non-null   int64
 1   query     6000 non-null   object
dtypes: int64(1), object(1)
memory usage: 93.9+ KB

In [4]:
train_r = pd.read_csv('train/train.reply.tsv', sep='\t', 
                      header=None, names=['query_id', 'reply_id', 'reply', 'label'])
train_r.head()

   query_id  reply_id                        reply  label
0         0         0  杭州市采荷第一小学钱江苑校区，杭州市钱江新城实验学校。      1
1         0         1                           是的      0
2         0         2                         这是5楼      0
3         1         0                   因为公积金贷款贷的少      0
4         1         1                           是呢      0

In [5]:
train_r.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 21585 entries, 0 to 21584
Data columns (total 4 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   query_id  21585 non-null  int64
 1   reply_id  21585 non-null  int64
 2   reply     21584 non-null  object
 3   label     21585 non-null  int64
dtypes: int64(3), object(1)
memory usage: 674.7+ KB

In [6]:
train_r.fillna('哈哈', inplace=True)

In [8]:
train = pd.merge(train_r, train_q, on='query_id', how='left')[['query_id', 'reply_id', 'query', 'reply', 'label']]

In [9]:
train.head()

   query_id  reply_id     query                        reply  label
0         0         0  采荷一小是分校吧  杭州市采荷第一小学钱江苑校区，杭州市钱江新城实验学校。      1
1         0         1  采荷一小是分校吧                           是的      0
2         0         2  采荷一小是分校吧                         这是5楼      0
3         1         0      毛坯吗？                   因为公积金贷款贷的少      0
4         1         1      毛坯吗？                           是呢      0

In [10]:
train.to_csv('train.csv', index=False)

In [11]:
test_q = pd.read_csv('test/test.query.tsv', encoding='gbk', sep='\t',
                     header=None, names=['query_id', 'query'])
test_q.head()

   query_id         query
0         0  东区西区？什么时候下证？
1         1          小学哪个
2         2          看哪个？
3         3     面积多少，什么户型
4         4    什么时候能够看房呢？

In [12]:
test_q.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 14000 entries, 0 to 13999
Data columns (total 2 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   query_id  14000 non-null  int64
 1   query     14000 non-null  object
dtypes: int64(1), object(1)
memory usage: 218.9+ KB

In [13]:
test_r = pd.read_csv('test/test.reply.tsv', encoding='gbk', sep='\t',
                     header=None, names=['query_id', 'reply_id', 'reply'])
test_r

       query_id  reply_id             reply
0             0         0            我在给你发套
1             0         1         您看下我发的这几套
2             0         2        这两套也是金源花园的
3             0         3               价钱低
4             0         4      便宜的房子，一般都是顶楼
...         ...       ...               ...
53752     13998         3            租约还有两年
53753     13998         4             都有学位的
53754     13999         0               没有呢
53755     13999         1             今天新上的
53756     13999         2  房子我也没看过呢，不知道是几号楼

[53757 rows x 3 columns]

In [14]:
test_r.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 53757 entries, 0 to 53756
Data columns (total 3 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   query_id  53757 non-null  int64
 1   reply_id  53757 non-null  int64
 2   reply     53757 non-null  object
dtypes: int64(2), object(1)
memory usage: 1.2+ MB

In [15]:
test = pd.merge(test_r, test_q, on='query_id', how='left')[['query_id', 'reply_id', 'query', 'reply']]

In [16]:
test.head()

   query_id  reply_id         query         reply
0         0         0  东区西区？什么时候下证？        我在给你发套
1         0         1  东区西区？什么时候下证？     您看下我发的这几套
2         0         2  东区西区？什么时候下证？    这两套也是金源花园的
3         0         3  东区西区？什么时候下证？           价钱低
4         0         4  东区西区？什么时候下证？  便宜的房子，一般都是顶楼

In [ ]:
test['labal'] = 2

In [17]:
test.to_csv('test.csv', index=False)

In [18]:
!rm -rf train
!rm -rf test